define	master	1;
define	slave	2;

define	cluster	slony;

define	main	1;
define	temp	9999;

cluster name = @cluster;

define  master_name  [master_db host];
define  slave_name   [slave_db host];

define  master_conn  'dbname=[somedb] user=postgres host=[master_db host]';
define  slave_conn   'dbname=[somedb] user=postgres host=[slave_db host]';

node @master admin conninfo = @master_conn;
node @slave  admin conninfo = @slave_conn;

